{% extends 'base.html.twig' %}

{% block title %}Residence index{% endblock %}

{% block body %}
    <h1>Residence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>Number</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <td>{{ residence.id }}</td>
                <td>{{ residence.Street }}</td>
                <td>{{ residence.Number }}</td>
                <td>{{ residence.City }}</td>
                <td>{{ residence.PostalCode }}</td>
                <td>{{ residence.Country }}</td>
                <td>
                    <a href="{{ path('app_residence_show', {'id': residence.id}) }}">show</a>
                    <a href="{{ path('app_residence_edit', {'id': residence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_residence_new') }}">Create new</a>
{% endblock %}
